Source: exe-warn
Section: gnome
Priority: optional
Maintainer: usuario <usuario@unknown>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), meson, ninja-build, python3-gi, libgtk-4-dev, libadwaita-1-dev
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/exec-warn
#Vcs-Git: https://salsa.debian.org/debian/exec-warn.git

Package: exe-warn
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}, python3-gi, gir1.2-gtk-4.0, libadwaita-1-0
Description: Exibe um alerta quando o usuário tenta executar um arquivo .exe do Windows no Linux, explicando que ele não tem suporte nativo e sugerindo o uso de uma versão compatível com Linux.
 <Insert long description, indented with spaces.>
